:root {
  --nes-vermelho: #E07676;
  --nes-preto: #000000;
  --nes-branco: #ffffff;
  --nes-prata: #d6d6d6;
  --nes-marrom: #8b8378;
}
@font-face {
  font-family: LucasNes;
  src: url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-Bold.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-BoldItalic.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-Italic.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-Light.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-LightItalic.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-Med.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-MedItalic.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-Regular.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-SemiBd.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-SemiBdItalic.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-XtraBd.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-XtraBdItalic.otf");
}
html,
body {
  font-size: 14px;
}
.row {
  width: 100%;
  margin: 0;
}
a:focus,
a:hover,
a:active {
  text-decoration: none;
  color: #fafafa;
}
* {
  transition: 0.2s;
}
.scroll::-webkit-scrollbar {
  height: 10px;
}
.scroll::-webkit-scrollbar-track {
  background: #a1a1a1;
}
.scroll::-webkit-scrollbar-thumb {
  background: #1a171b;
}
.hidden {
  display: none;
}
li.vermelha {
  background-color: var(--nes-vermelho);
}
li.preta {
  background-color: var(--nes-preto);
}
li.branca {
  background-color: var(--nes-branco);
}
li.prata {
  background-color: var(--nes-prata);
}
li.marrom {
  background-color: var(--nes-marrom);
}
.cores {
  text-align: center;
}
.cores .cor {
  display: inline-block;
  height: 1em;
  width: 1em;
  border-radius: 100%;
  margin: 5px 5px 0 0;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);
}
.btn-nes {
  display: block;
  padding: 10px 20px;
  background-color: #1a171b;
  max-width: 150px;
  text-align: center;
  margin: 10px auto;
  cursor: pointer;
  color: #fafafa;
  border: solid 2px #fafafa;
  transition: all 0.1s;
}
.btn-nes.btnlong {
  max-width: initial;
}
.btn-nes:hover {
  outline: solid 2px #1a171b;
}
.hidden {
  display: none;
}
.tns-item:active,
.tns-item:focus {
  outline: none;
}
.tns-nav {
  text-align: center;
  margin: -30px 0 40px;
}
.tns-nav button {
  margin: 0 2px;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: transparent;
  border: solid 1px #fafafa;
}
.tns-nav button.tns-nav-active {
  background-color: #a1a1a1;
}
.tns-controls {
  text-align: center;
}
@media screen and (min-width: 575px) and (max-width: 766px) {
  .tns-controls {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .tns-controls {
    display: none;
  }
}
.tns-controls button {
  height: 50px;
  width: 50px;
  margin: 0 5px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
  border-radius: 100%;
  background-color: #a1a1a1;
  border: none;
}
.tns-controls button:hover {
  filter: contrast(140%);
}
.tns-controls button:focus,
.tns-controls button:active {
  outline: none;
}
.tns-controls button:nth-child(1) {
  position: absolute;
  top: 50%;
  left: -40px;
  z-index: 10;
  transform: translateX(-50%);
  background-image: url(img/arrow.svg);
}
.tns-controls button:nth-child(2) {
  position: absolute;
  top: 50%;
  right: -60px;
  z-index: 10;
  transform: translateX(-50%);
  transform: rotate(-180deg);
  background-image: url(img/arrow.svg);
}
.tns-controls button:disabled,
.tns-controls button[disabled] {
  display: none;
}
