:root {
  --nes-vermelho: #E07676;
  --nes-preto: #000000;
  --nes-branco: #ffffff;
  --nes-prata: #d6d6d6;
  --nes-marrom: #8b8378;
}
@font-face {
  font-family: LucasNes;
  src: url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-Bold.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-BoldItalic.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-Italic.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-Light.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-LightItalic.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-Med.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-MedItalic.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-Regular.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-SemiBd.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-SemiBdItalic.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-XtraBd.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-XtraBdItalic.otf");
}
.topo-nespresso {
  background: url("img/BG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: block;
  height: 100vh;
  min-height: 600px;
  max-height: 1080px;
  position: relative;
}
@media screen and (min-width: 767px) and (max-width: 990px) {
  .topo-nespresso {
    max-height: 600px;
  }
}
@media screen and (min-width: 575px) and (max-width: 766px) {
  .topo-nespresso {
    height: inherit;
    min-height: inherit;
  }
}
@media screen and (max-width: 575px) {
  .topo-nespresso {
    height: inherit;
    min-height: inherit;
  }
}
.topo-nespresso .col-6,
.topo-nespresso .col-6 {
  height: 100vh;
  min-height: 600px;
  max-height: 1080px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 767px) and (max-width: 990px) {
  .topo-nespresso .col-6,
  .topo-nespresso .col-6 {
    max-height: 600px;
  }
}
@media screen and (min-width: 575px) and (max-width: 766px) {
  .topo-nespresso .col-6,
  .topo-nespresso .col-6 {
    height: inherit;
    min-height: inherit;
  }
}
@media screen and (max-width: 575px) {
  .topo-nespresso .col-6,
  .topo-nespresso .col-6 {
    height: inherit;
    min-height: inherit;
  }
}
.topo-nespresso .sobreposta {
  justify-content: flex-end;
}
@media screen and (min-width: 575px) and (max-width: 766px) {
  .topo-nespresso .sobreposta {
    justify-content: center;
  }
}
@media screen and (max-width: 575px) {
  .topo-nespresso .sobreposta {
    justify-content: center;
  }
}
.topo-nespresso .content {
  justify-content: flex-start;
  text-align: center;
}
@media screen and (min-width: 575px) and (max-width: 766px) {
  .topo-nespresso .content {
    justify-content: center;
    margin-top: 60px;
  }
}
@media screen and (max-width: 575px) {
  .topo-nespresso .content {
    justify-content: center;
    margin-top: 60px;
  }
}
.topo-nespresso .content span {
  display: block;
  width: 10%;
  margin: 40px auto;
  height: 3px;
  background-color: #1a171b;
}
.topo-nespresso .mc-png {
  width: 80%;
}
.topo-nespresso .logones {
  width: 60%;
  margin-bottom: 0px;
}
.topo-nespresso h5 {
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: #1a171b;
  line-height: normal;
  width: 98%;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.topo-nespresso p {
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #1a171b;
  line-height: 1.5em;
  width: 98%;
}
.topo-nespresso .nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #646262;
  position: absolute;
  bottom: 0;
  z-index: 100;
}
.topo-nespresso .nav.top.hide {
  transform: translateX(-50%) translateY(-100%);
}
@media screen and (min-width: 575px) and (max-width: 766px) {
  .topo-nespresso .nav {
    font-size: 10px;
  }
}
@media screen and (max-width: 575px) {
  .topo-nespresso .nav {
    position: fixed;
    z-index: 1000;
  }
}
.topo-nespresso .nav .item {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-grow: 0;
  padding: 10px 30px;
  transition: all 0.3s;
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  color: #fafafa;
  line-height: 2em;
  font-weight: 900px;
  text-align: left;
  background-color: #646262;
}
@media screen and (min-width: 575px) and (max-width: 766px) {
  .topo-nespresso .nav .item {
    font-size: 1rem;
  }
}
@media screen and (max-width: 575px) {
  .topo-nespresso .nav .item {
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .topo-nespresso .nav .item {
    font-size: 0.875rem !important;
  }
}
.topo-nespresso .nav .item p {
  display: inline-block;
}
.topo-nespresso .nav .item.active {
  background-color: #282828;
}
@media screen and (min-width: 575px) and (max-width: 766px) {
  .topo-nespresso .nav .item {
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .topo-nespresso .nav .item {
    font-size: 1em;
    padding: 10px 10px;
    text-align: center;
  }
}
.topo-nespresso .nav .item:hover:not(.active) {
  filter: contrast(140%);
}
.topo-nespresso .nav .item:before {
  content: '';
  display: inline-block;
  height: 2em;
  width: 3em;
  float: left;
  background-image: url();
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 575px) {
  .topo-nespresso .nav .item:before {
    display: block;
    float: none;
  }
}
.topo-nespresso .nav .item.maquinas::before {
  background-image: url("img/i-maquinas.svg");
}
.topo-nespresso .nav .item.cafes::before {
  background-image: url("img/i-cafes.svg");
}
.topo-nespresso .nav .item.servicos::before {
  background-image: url("img/i-servicos.svg");
}
.maquinasnespresso,
.resultado {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  min-height: 300px;
  height: auto;
}
.maquinasnespresso .slider-container,
.resultado .slider-container {
  position: relative;
}
.maquinasnespresso .slider-item,
.resultado .slider-item {
  display: inline-block;
  height: auto;
  width: 300px;
  margin: 60px 0;
  text-align: center;
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #1a171b;
  line-height: normal;
}
.maquinasnespresso .slider-item img,
.resultado .slider-item img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  max-width: 300px;
}
.maquinasnespresso .slider-item p.title,
.resultado .slider-item p.title {
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  color: #1a171b;
  line-height: normal;
  font-weight: bold;
  letter-spacing: 0em;
}
.maquinasnespresso .slider-item p.desc,
.resultado .slider-item p.desc {
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #1a171b;
  line-height: normal;
  margin-bottom: 20px;
  height: 60px;
  padding: 0 10px;
}
.maquinasnespresso .slider-item small,
.resultado .slider-item small {
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  color: #1a171b;
  line-height: normal;
}
.questionario {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 400px;
  height: auto;
  background: url("img/bg-sec-choose.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.questionario h5 {
  text-align: center;
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 1.875em;
  color: #fafafa;
  line-height: normal;
  letter-spacing: 0.2em;
  font-weight: bold;
}
.questionario .pergunta {
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #fafafa;
  line-height: normal;
  text-align: center;
}
.questionario .pergunta .btn-nes {
  margin: 10px 5px;
  display: inline-block;
}
.questionario .reload-result {
  background-image: url(img/reload.svg);
  background-position: center;
  background-size: contain;
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin: 40px;
}
.questionario .check-result {
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #fafafa;
  line-height: normal;
  position: absolute;
  bottom: 30px;
}
.questionario .check-result:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 15px;
  border-color: #ffffff transparent transparent transparent;
  display: block;
  margin: 5px auto;
}
.questionario .dots {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
}
.questionario .dots .dot {
  display: inline-block;
  background-color: transparent;
  border: solid 1px #fafafa;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  margin: 5px;
}
.questionario .dots .dot.active {
  background-color: #fafafa;
  margin: 0 5px;
}
.resultado {
  min-height: initial;
  height: 0;
  flex-flow: column;
}
.resultado h5 {
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: #1a171b;
  line-height: normal;
  text-align: center;
  display: block;
  margin-top: 60px;
}
.resultado h5 b {
  font-weight: bold;
}
.resultado .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row;
}
.resultado .container .slider-item {
  margin: 20px 0;
}
.resultado .container .slider-item .extras {
  margin-top: 20px;
}
.resultado .container .slider-item .extras .comparativo {
  width: 100%;
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #1a171b;
  line-height: normal;
  min-height: 65px;
  display: block;
}
.resultado .container .slider-item .extras .comparativo p {
  padding: 5px 0;
}
.resultado .container .slider-item .extras .comparativo :nth-child(odd) {
  background-color: #a1a1a1;
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #1a171b;
  line-height: normal;
  font-weight: bold;
}
.resultado .container .slider-item .extras :nth-child(3) {
  min-height: 95px;
}
.resultado.active {
  height: initial;
}
.sobre {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: #fafafa;
  line-height: normal;
  height: auto;
  min-height: 100vh;
}
.sobre .container {
  position: relative;
}
@media screen and (min-width: 767px) and (max-width: 990px) {
  .sobre .container {
    width: 100%;
  }
}
@media screen and (min-width: 575px) and (max-width: 766px) {
  .sobre .container {
    width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .sobre .container {
    width: 100%;
  }
}
.sobre .bg {
  display: block;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: url(img/bg-sec-ourchoice.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: -1;
}
.sobre .bg:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: #1a171b;
  opacity: 0.5;
}
.sobre .historias {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}
.sobre span.informacoes {
  text-align: center;
}
.sobre span.informacoes .title {
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 3rem;
  color: #fafafa;
  line-height: normal;
  font-weight: bold;
  white-space: pre-line;
}
@media screen and (min-width: 575px) and (max-width: 766px) {
  .sobre span.informacoes .title {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 575px) {
  .sobre span.informacoes .title {
    font-size: 2rem;
  }
}
.sobre span.informacoes .title:after {
  content: '';
  margin: 40px auto;
  display: block;
  width: 15%;
  min-width: 100px;
  height: 3px;
  background-color: #fafafa;
}
.sobre span.informacoes .desc {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60%;
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #fafafa;
  line-height: 1.5em;
  white-space: pre-line;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 575px) and (max-width: 766px) {
  .sobre span.informacoes .desc {
    max-width: 95%;
  }
}
@media screen and (max-width: 575px) {
  .sobre span.informacoes .desc {
    max-width: 95%;
  }
}
.sobre .tns-controls {
  text-align: center;
}
@media screen and (min-width: 575px) and (max-width: 766px) {
  .sobre .tns-controls {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .sobre .tns-controls {
    display: none;
  }
}
.sobre .tns-controls button {
  height: 70px;
  width: 70px;
  margin: 0 5px;
  background-color: transparent;
  border: none;
}
.sobre .tns-controls button:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 3em;
  z-index: 10;
  transform: translateX(-50%);
  background-image: url(img/arrow.svg);
}
.sobre .tns-controls button:nth-child(2) {
  position: absolute;
  top: 50%;
  right: 2em;
  z-index: 10;
  transform: translateX(-50%) rotate(-180deg);
  background-image: url(img/arrow.svg);
}
.sobre .tns-nav {
  margin-top: -10px;
}
.sobre .tns-nav button {
  background-color: transparent;
  border: solid 1px #fafafa;
}
.sobre .tns-nav button.tns-nav-active {
  background-color: #fafafa;
}
.capsulas {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 400px;
}
.capsulas h5 {
  margin-top: 40px;
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 1.875rem;
  color: #1a171b;
  line-height: normal;
  letter-spacing: 0.3rem;
}
.capsulas h5 strong {
  font-weight: 700;
}
.capsulas .container-capsulas {
  max-width: 100%;
}
.capsulas .sobre-capsulas {
  width: 70%;
  display: block;
  margin: 40px auto;
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #1a171b;
  line-height: 1.5rem;
}
.capsulas .filters {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: space-between;
}
.capsulas .filters .filter-title {
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #1a171b;
  line-height: normal;
  font-weight: bold;
  margin-bottom: 10px;
}
.capsulas .filters .filters-button-group button {
  display: inline-flex;
  text-align: center;
  background-color: #fafafa;
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #a1a1a1;
  line-height: normal;
  letter-spacing: 0.1rem;
  padding: 10px 15px;
  border: none;
}
.capsulas .filters .filters-button-group.perfil-aromatico button {
  border: solid 1px #a1a1a1;
}
.capsulas .filters .filters-button-group.perfil-aromatico button.active {
  color: #fafafa;
  background-color: #1a171b;
  border: solid 1px #1a171b;
}
.capsulas .filters .filters-button-group.perfil-aromatico button:nth-child(2) {
  border-right: 0px;
}
.capsulas .filters .filters-button-group.perfil-aromatico button:nth-child(4) {
  border-left: 0px;
}
.capsulas .filters .filters-button-group.perfil-aromatico button:nth-child(5) {
  border-left: 0px;
}
.capsulas .filters .filters-button-group.tamanho button {
  display: inline-block;
}
.capsulas .filters .filters-button-group.tamanho button::after {
  content: '';
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  max-height: 40px;
  background-color: #a1a1a1;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}
.capsulas .filters .filters-button-group.tamanho button.t-25 {
  border: solid 1px #a1a1a1;
  border-right-width: 0;
}
.capsulas .filters .filters-button-group.tamanho button.t-25::after {
  -webkit-mask-image: url(img/c-25.svg);
}
.capsulas .filters .filters-button-group.tamanho button.t-40 {
  border: solid 1px #a1a1a1;
  border-right-width: 0;
}
.capsulas .filters .filters-button-group.tamanho button.t-40::after {
  -webkit-mask-image: url(img/c-40.svg);
}
.capsulas .filters .filters-button-group.tamanho button.t-110 {
  border: solid 1px #a1a1a1;
  border-right-width: 0;
}
.capsulas .filters .filters-button-group.tamanho button.t-110::after {
  -webkit-mask-image: url(img/c-110.svg);
}
.capsulas .filters .filters-button-group.tamanho button.t-150 {
  border: solid 1px #a1a1a1;
}
.capsulas .filters .filters-button-group.tamanho button.t-150::after {
  -webkit-mask-image: url(img/c-150.svg);
}
.capsulas .filters .filters-button-group.tamanho button.active {
  background-color: #1a171b;
  border-color: #1a171b;
}
.capsulas .filters .filters-button-group.tamanho button.active::after {
  background-color: #fafafa;
}
.capsulas .results {
  margin: 40px 0 0;
  display: block;
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #646262;
  line-height: normal;
}
.capsulas .cap-slider-container {
  overflow: auto;
  overflow-y: hidden;
  margin: 0px 0 60px;
}
.capsulas .grid-cap {
  display: flex;
  margin: 0;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 300px;
}
.capsulas .capsula-card {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-flow: column;
  height: 250px;
  width: 300px;
  min-width: 300px;
  position: relative !important;
  left: 0 !important;
  top: 0 !important;
  margin: 15px;
  -webkit-box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.1s;
}
.capsulas .capsula-card .fundo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center;
  z-index: -2;
}
.capsulas .capsula-card .sobreposta-container {
  display: flex;
  height: 350px;
  align-items: center;
  justify-content: center;
}
.capsulas .capsula-card .sobreposta-container img {
  height: 50%;
  object-fit: contain;
  object-position: center;
}
.capsulas .capsula-card .grid {
  margin: 40px;
}
.capsulas .capsula-card .capsula-info {
  padding: 10px 0;
  min-height: 60px;
  height: 60px;
  width: 100%;
  background-color: #fafafa;
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #1a171b;
  line-height: normal;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.capsulas .capsula-card .capsula-info:hover .txt h4 {
  letter-spacing: 0em;
}
.capsulas .capsula-card .capsula-info .txt {
  flex-grow: 2;
  max-width: 200px;
}
.capsulas .capsula-card .capsula-info .txt h4 {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0em;
  margin-bottom: 10px;
  padding: 10px 0;
}
.capsulas .capsula-card .capsula-info .txt h4.breaker {
  padding: 0;
}
.capsulas .capsula-card .capsula-info .txt p {
  display: none;
  margin: 0.5em 0;
}
.capsulas .capsula-card .capsula-info .txt p.active {
  display: block;
}
.capsulas .capsula-card .capsula-info .txt .tamanhos {
  display: block;
}
.capsulas .capsula-card .capsula-info .txt .tamanhos li {
  display: inline-block;
  margin-right: 5px;
}
.capsulas .capsula-card .capsula-info .txt .tamanhos li::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-color: #1a171b;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}
.capsulas .capsula-card .capsula-info .txt .tamanhos .t-25::after {
  -webkit-mask-image: url(img/c-25.svg);
}
.capsulas .capsula-card .capsula-info .txt .tamanhos .t-40::after {
  -webkit-mask-image: url(img/c-40.svg);
}
.capsulas .capsula-card .capsula-info .txt .tamanhos .t-110::after {
  -webkit-mask-image: url(img/c-110.svg);
}
.capsulas .capsula-card .capsula-info .txt .tamanhos .t-150::after {
  -webkit-mask-image: url(img/c-150.svg);
}
.capsulas .capsula-card .capsula-info .btn-info-container {
  position: relative;
  flex-grow: 1;
  padding: 10px 0;
}
.capsulas .capsula-card .capsula-info .btn-info {
  display: inline-flex;
  height: 100%;
  width: 100%;
  max-height: 24px;
  background-color: #1a171b;
  transform: rotate(90deg);
  -webkit-mask-image: url(img/arrow.svg);
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}
.capsulas .capsula-card .capsula-info .btn-info.active {
  transform: rotate(-90deg);
}
.capsulas .capsula-card .capsula-info.active {
  height: 900px;
  min-height: inherit;
  transition: all 0.3s;
}
.footer {
  display: flex;
  flex-flow: column;
  background-color: #010101;
  color: #fafafa;
  text-align: center;
}
.footer img {
  max-width: 100%;
}
.footer .footer-title {
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 1.875rem;
  color: #c2a572;
  line-height: normal;
  margin: 20px 40px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
@media screen and (min-width: 575px) and (max-width: 766px) {
  .footer .footer-title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 575px) {
  .footer .footer-title {
    font-size: 1.25rem;
  }
}
.footer .footer-item {
  padding: 10px;
  display: inline-flex;
  flex-wrap: wrap;
  flex-flow: column;
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #c2a572;
  line-height: normal;
}
.footer .footer-item img {
  object-fit: contain;
  object-position: center;
  margin: 15px 0;
}
.footer .footer-item span {
  text-transform: uppercase;
  color: #c2a572;
}
.footer .footer-item span p {
  color: #fafafa;
  text-transform: initial;
}
.footer .footer-item span p::before {
  content: '';
  display: block;
  height: 2px;
  width: 60px;
  background-color: #fafafa;
  margin: 20px auto;
}
.footer .clubnespresso {
  margin-top: 100px;
  position: relative;
  overflow: hidden;
}
.footer .clubnespresso .bg-light {
  display: block;
  position: absolute;
  height: calc(100% * (1/2) - 5vw);
  max-height: 350px;
  width: 100%;
  background-image: url("img/bg-club-light.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 575px) and (max-width: 766px) {
  .footer .clubnespresso .bg-light {
    width: 150%;
    height: inherit;
    min-height: 420px;
    min-width: 700px;
  }
}
@media screen and (max-width: 575px) {
  .footer .clubnespresso .bg-light {
    width: 150%;
    height: inherit;
    min-height: 450px;
    min-width: 700px;
  }
}
.footer .clubnespresso .club-text-container {
  display: flex;
  flex-flow: column;
  margin-top: 40px;
  text-align: left;
}
@media screen and (min-width: 575px) and (max-width: 766px) {
  .footer .clubnespresso .club-text-container {
    margin-top: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 575px) {
  .footer .clubnespresso .club-text-container {
    margin-top: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
}
.footer .clubnespresso .club-title {
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  color: #c2a572;
  line-height: normal;
  text-transform: uppercase;
}
.footer .clubnespresso .club-about {
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #fafafa;
  line-height: 1.5em;
  margin-top: 20px;
  max-width: 500px;
  width: 98%;
}
.footer .clubnespresso .club-about a {
  color: #c2a572;
}
.footer .clubnespresso .club-about a:hover {
  text-decoration: underline;
}
.footer .clubnespresso .club-bonus {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
.footer .clubnespresso .club-item {
  padding: 20px;
  flex-grow: 1;
  min-height: 200px;
  width: calc(100% * (1/3) - 20px - 1px);
  margin: 10px;
  border-style: solid;
  position: relative;
  border-image: linear-gradient(to right bottom, #dfc598 0%, #cc9a41 50%, #dfc598);
  -webkit-border-image: linear-gradient(to right bottom, #dfc598 0%, #cc9a41 50%, #dfc598);
  -o-border-image: linear-gradient(to right bottom, #dfc598 0%, #cc9a41 50%, #dfc598);
  border-image-slice: 20%;
  border-width: 2px;
  font-family: 'LucasNes', Helvetica, Arial, sans-serif;
  font-size: 1em;
  color: #c2a572;
  line-height: normal;
}
.footer .clubnespresso .club-item .club-item-bg {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
@media screen and (min-width: 575px) and (max-width: 766px) {
  .footer .clubnespresso .club-item {
    width: calc(100% * (1/2) - 20px - 1px);
    margin: 5px 5px 0 0;
    padding: 5px;
  }
}
@media screen and (max-width: 575px) {
  .footer .clubnespresso .club-item {
    width: calc(100% * (1/2) - 20px - 1px);
    margin: 5px 5px 0 0;
    padding: 5px;
  }
}
.footer .clubnespresso .club-item p.title {
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
.footer .clubnespresso .club-item p.desc {
  color: #fafafa;
  line-height: 1.5em;
}
