:root {
  --nes-vermelho: #E07676;
  --nes-preto: #000000;
  --nes-branco: #ffffff;
  --nes-prata: #d6d6d6;
  --nes-marrom: #8b8378;
}
@font-face {
  font-family: LucasNes;
  src: url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-Bold.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-BoldItalic.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-Italic.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-Light.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-LightItalic.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-Med.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-MedItalic.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-Regular.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-SemiBd.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-SemiBdItalic.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-XtraBd.otf"), url("https://www.girafa.com.br/hs/mundo-nespresso/res/font/NespressoLucas-XtraBdItalic.otf");
}
