@import (reference) "variaveis";
html, body{
    font-size: 16px;
}
.row{
    width: 100%;
    margin: 0;
}
a{
    &:focus, &:hover, &:active{
        text-decoration: none;
        color: @branco;
    }
}
*{
    transition: .2s;
}
.scroll::-webkit-scrollbar {
  height: 10px;
}
 
.scroll::-webkit-scrollbar-track {
  background: @cinzal;
}
 
.scroll::-webkit-scrollbar-thumb {
  background: @pretol; 
}

.hidden{
    display: none;
}
li.vermelha{
    background-color: var(--nes-vermelho);
}
li.preta{
    background-color: var(--nes-preto);
}
li.branca{
    background-color: var(--nes-branco);
}
li.prata{
    background-color: var(--nes-prata);
}
li.marrom{
    background-color: var(--nes-marrom);
}
.cores{
    text-align: center;
    .cor{
        cursor: pointer;
        display: inline-block;
        height: 1.25em;
        width: 1.25em;
        border-radius: 100%;
        margin: 5px 5px 0 0;
        border: solid 1px rgba(0,0,0, .35);
        transform: scale(.9);
        &:hover{
            transform: scale(1.1);
        }
        &.on{
            transform: scale(1.1);
        }
    }
}
.plus{
    &:after{
        content: '+';
    }
}
.minus{
    &:after{
        content: '-';
    }
}
.btn-nes{
    display: block;
    padding: 10px 20px;
    background-color: @pretol;
    max-width: 150px;
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
    color: @branco;
    border: solid 2px @branco;
    transition: all .1s;
    &.btnlong{
        max-width: initial;
    }
    &:hover{
        outline: solid 2px @pretol;
    }
}
.hidden{
    display: none;
}
.tns-item{
    &:active, &:focus{
        outline: none;
    }
}
.tns-nav{
    text-align: center;
    margin: -30px 0 40px;
    button{
        margin: 0 2px;
        border-radius: 100%;
        height: 15px;
        width: 15px;
        display: inline-block;
        background-color: transparent;
        border: solid 1px @branco;
        &.tns-nav-active{
            background-color: @cinzal;
        }
    }
}
.tns-controls{
        text-align: center;
        .s({
            display: none;
        });
        .xs({
            display: none;
        });
        button{
            height: 50px;
            width: 50px;
            margin: 0 5px;
            
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 30px 30px;
            border-radius: 100%;
            background-color: @cinzal;
            border: none;
            &:hover{
                filter: contrast(140%);
            }
            &:focus, &:active{
                outline: none;
            }
            &:nth-child(1){
                position: absolute;
                top: 50%;
                left: -40px;
                z-index: 10;
                transform: translateX(-50%);
                background-image: url(img/arrow.svg);
            }
            &:nth-child(2){
                position: absolute;
                top: 50%;
                right: -60px;
                z-index: 10;
                transform: translateX(-50%);
                transform: rotate(-180deg);
                background-image: url(img/arrow.svg);
            }
        }
        button:disabled, button[disabled]{
            display: none;
        }
}