@import (reference) "variaveis";
.topo-nespresso{
    background: url("https://www.girafa.com.br/hs/mundo-nespresso/img/BG.jpg?v=3");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: block;
    height: 100vh;
    min-height: 600px;
    max-height: 1080px;
    position: relative;
    .m({max-height: 600px;});
    .s({
        height: inherit;
        min-height: inherit;
    });
    .xs({
        height: inherit;
        min-height: inherit;
    });
    .col-5, .col-7{
        height: 100vh;
        min-height: 600px;
        max-height: 1080px;
        .m({max-height: 600px;});
        .s({
            height: inherit;
            min-height: inherit;
        });
        .xs({
            height: inherit;
            min-height: inherit;
        });
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .sobreposta{
        justify-content: flex-end;
        .s({
            justify-content: center;
        });
        .xs({
            justify-content: center;
        });
    }
    .content{
        justify-content: flex-start;
        text-align: left;
        .s({
            justify-content: center;
            text-align: center;
            margin-top: 60px;
        });
        .xs({
            justify-content: center;
            text-align: center;
            margin-top: 60px;
        });
        span{
            display: block;
            width: 10%;
            margin: 40px auto;
            height: 3px;
            background-color: @pretol;
        }
    }
    .mc-png{
        width: 80%;
    }
    .logones{
        width: 60%;
        margin-bottom: 0px;
        .s({
            width: 100%;
        });
        .xs({
            width: 100%;
        });
    }
    h5{
        .sans(1.5em, @pretol, normal);
        width: 98%;
        text-transform: uppercase;
        letter-spacing: .3em;
        font-size: 1.25em;
        margin: 0 30px;
        .s({
            margin: 0 auto;
        });
        .xs({
            margin: 0 auto;
        })
    }
    p{
        .sans(1.25em, @pretol, 1.5em);
        width: 98%;
        margin: 20px 0 0 30px;
        width: 80%;
        .s({
            margin: 0 auto;
            font-size: 1em;
        });
        .xs({
            margin: 0 auto;
            font-size: 1em;
        });
    }
    .nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: @cinzam;
        position: absolute;
        bottom: 0;
        z-index: 100;
        &.top{
            &.hide {
                transform: translateX(-50%) translateY(-100%);
            }
        }
        .s({
            font-size: 10px;
        });
        .xs({
            position: fixed;
            z-index: 1000;
        });
        .item{
            display: flex;
            align-content: center;
            justify-content: center;
            flex-grow: 0;
            padding: 10px 30px;
            transition: all .3s;
            .sans(1.75em, @branco, 2em);
            font-weight: 900px;
            text-align: left;
            background-color: @cinzam;
            .s({font-size: 1.25rem});
            .xs({font-size: 1.25rem});
            .mobile({font-size: 1rem !important});
            & p{
                display: inline-block;
            }
            &.active{
                background-color: @cinzad;
            }
            &:hover:not(.active){
                filter: contrast(140%);
            }
            &:before{
                content: '';
                display: inline-block;
                height: 2em;
                width: 3em;
                float: left;
                background-image: url();
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                .xs({
                    display: block;
                    float: none;
                });
            }
            .s({
                text-align: center;
            });
            .xs({    
                font-size: 1em;
                padding: 10px 0;
                text-align: center;
                flex-grow: 1;
                &:before{
                    width: 2.5em;
                }
            });
            &.maquinas::before{
                background-image: url("https://www.girafa.com.br/hs/mundo-nespresso/img/i-maquinas.svg");
            }
            &.cafes::before{
                background-image: url("https://www.girafa.com.br/hs/mundo-nespresso/img/i-cafes.svg");
            }
            &.servicos::before{
                background-image: url("https://www.girafa.com.br/hs/mundo-nespresso/img/i-servicos.svg");
            }
        }
    }
}
.maquinasnespresso, .resultado{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    min-height: 300px;
    height: auto;
    .slider-container{
        position: relative;
    }
    .slider-item{
        display: inline-block;
        height: auto;
        width: 300px;
        margin: 60px 0;
        text-align: center;
        .sans(1em, @pretol, normal);
        &.hover{
            opacity: .5;
            &:hover{
                opacity: 1;
            }
        }
        img{
            object-fit: contain;
            object-position: center;
            width: 100%;
            max-width: 300px;
        }
        & p.title{
            .sans(1.75rem, @pretol, normal);
            font-weight: bold;
            letter-spacing: 0em;
        }
        & p.desc{
            .sans(1.25em, @pretol, normal);
            margin-bottom: 20px;
            height: 60px;
            padding: 0 10px;
            &.descfull{
                height: initial;
            }
        }
        small{
            .sans(.8rem, @pretol, normal);
        }
    }
    .outras{
        display: flex;
        height: 0;
        overflow: hidden;
        width: 100%;
        flex-flow: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        span{
            border-radius: 50%;
            overflow: hidden;
            img{
                width: 100px;
            }
            &:hover{
                cursor: pointer;
            }
            &.active{
                // border: solid 2px @dourado;
                position: relative;
                &:before{
                    content: '';
                    display: block;
                    height: 100%;
                    width: 100%;
                    background-color: @dourado;
                    opacity: .5;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 2;
                }
                &:after{
                    content: '';
                    display: block;
                    background-image: url("https://www.girafa.com.br/hs/mundo-nespresso/img/logo.svg?v=1");
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    height: 50px;
                    width: 50px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 3;
                }
                img{
                    transform: scale(1.1);
                }
            }
        }
        &.active{
            height: 110px;
        }
    }
    .morepics{
        width: 80%;
        height: 2px;
        display: flex;
        background-color: @cinzam;
        align-items: center;
        justify-content: center;
        margin: 20px auto;
        cursor: pointer;
        position: relative;
        &:after{
            position: absolute;
            font-weight: bold;
            display: block;
            background-color: @branco;
            width: 35px;
            height: 35px;
            .sans(1.75rem, @cinzam, normal);
            transition: all .3s;
            border-radius: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
        &:hover::after{
            transform: translateY(-50%) rotate(180deg) scale(1.3);
        }
    }
}
.questionario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 400px;
    height: auto;
    background: url("https://www.girafa.com.br/hs/mundo-nespresso/img/bg-sec-choose.jpg?v=2");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    h5{
        text-align: center;
        .sans(2em, @branco, normal);
        letter-spacing: .2em;
        font-weight: bold;
        .xs({
            font-size: 1.5em;
        });
    }
    .pergunta{
        .sans(1rem, @branco, normal);
        text-align: center;
        & .btn-nes{
            margin: 10px 5px;
            display: inline-block;
        }
    }
    .reload-result{
        background-image: url(https://www.girafa.com.br/hs/mundo-nespresso/img/reload.svg);
        background-position: center;
        background-size: contain;
        height: 50px;
        width: 50px;
        cursor: pointer;
        margin: 40px;
    }
    .check-result{
        .sans(1rem, @branco, normal);
        position: absolute;
        bottom: 30px;
        &:after{
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 15px 15px 0 15px;
            border-color: #ffffff transparent transparent transparent;
            display: block;
            margin: 5px auto;
        }
    }
    .dots{
        display: flex;
        flex-direction: row;
        margin: 20px 0;
        align-items: center;
        justify-content: center;
        .dot{
            display: inline-block;
            background-color: transparent;
            border: solid 1px @branco;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            margin: 5px;
            &.active{
                background-color: @branco;
                margin: 0 5px;
            }
        }
    }
}
.resultado{
    min-height: initial;
    height: 0;
    flex-flow: column;
    h5{
        .sans(2em, @pretol, normal);
        text-align: center;
        display: block;
        margin: 60px 0 20px;
        b{
            font-weight: bold;
        }
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        flex-flow: row;
        .slider-item{
            margin: 20px 0;
            .extras{
                margin-top: 20px;
                .comparativo{
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    // flex-flow: column;
                    width: 100%;
                    .sans(1.25rem, @pretol, normal);
                    min-height: 65px;
                    display: block;
                    p{                        
                        padding: 5px 0;
                    }
                    :nth-child(odd){
                        background-color: @cinzal;
                        .sans(1.25rem, @pretol, normal);
                        font-weight: bold;
                    }
                }
                :nth-child(2){
                    min-height: 80px;
                }
                :nth-child(3){
                    min-height: 140px;
                }
            }
        }
    }
    &.active{
        height: initial;
    }
}
.sobre{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .sans(2em, @branco, normal);
    height: initial;
    min-height: 100vh;
    overflow: hidden;
    .s({
        min-height: 600px;
        height: initial;
    });
    .xs({
        min-height: 600px;
        height: initial;
    });
    .container{
        position: relative;
        .m({
            width: 100%;
        });
        .s({
            width: 100%;
        });
        .xs({
            width: 100%;
        });
    }
    .bg{
        display: block;
        width: 100%;
        background-image: url(https://www.girafa.com.br/hs/mundo-nespresso/img/bg-sec-ourchoice.jpg?v=3);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        z-index: -1;
        height: initial;
        min-height: 100vh;
        .s({
            height: initial;
            min-height: 700px;
        });
        .xs({
            min-height: 700px;
            height: initial;
        });
        &:after{
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 110vh;
            .s({
                min-height: 700px;
                height: initial;
            });
            .xs({
                min-height: 700px;
                height: initial;
            });
            background-color: @pretol;
            opacity: .5;
        }
        // &.active{
        //     transform: scale(2);
        // }
        
    }
    .historias{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
    }
    span.informacoes{
        text-align: center;
        .title{
            .sans(3rem, @branco, normal);
            font-weight: 500;
            white-space: pre-line;
            text-transform: uppercase;
            .s({font-size: 2.5rem});
            .xs({font-size: 2rem});
            &:after{
                content: '';
                margin: 40px auto;
                display: block;
                width: 15%;
                min-width: 100px;
                height: 3px;
                background-color: @branco;
            }
        }
        .desc{
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 60%;
            .sans(1.25rem, @branco, 1.5em);
            .s({
                max-width: 95%;
            });
            .xs({
                max-width: 95%;
                font-size: 1rem;
            });
            white-space: pre-line;
            letter-spacing: 1px;
        }
    }
    .tns-controls{
        text-align: center;
        .s({
            display: none;
        });
        .xs({
            display: none;
        });
        button{
            height: 70px;
            width: 70px;
            margin: 0 5px;
            background-color: transparent;
            border: none;
            &:nth-child(1){
                position: absolute;
                top: 50%;
                left: 3em;
                z-index: 10;
                transform: translateX(-50%);
                background-image: url(https://www.girafa.com.br/hs/mundo-nespresso/img/arrow.svg);
            }
            &:nth-child(2){
                position: absolute;
                top: 50%;
                right: 2em;
                z-index: 10;
                transform: translateX(-50%) rotate(-180deg);
                background-image: url(https://www.girafa.com.br/hs/mundo-nespresso/img/arrow.svg);
            }
        }
    }
    .tns-nav{
        margin-top: -10px;
        button{
            background-color: transparent;
            border: solid 1px @branco;
            &.tns-nav-active{
                background-color: @branco;
            }   
        }
    }
}
.capsulas{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 400px;
    h5{
        margin-top: 40px;
        .sans(2rem, @pretol, normal);
        letter-spacing: .3rem;
        strong{
            font-weight: 700;
        }
    }
    .container-capsulas{
        width: 100%;
    }
    .sobre-capsulas{
        width: 70%;
        display: block;
        margin: 40px auto;
        .sans(1.25rem, @pretol, 1.75rem);
        .s({
            width: 95%;
        });
        .xs({
            font-size: 1rem;
            width: 95%;
        });
    }
    .filters{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: center;
        align-content: space-between;
        .filter-title{
            .sans(1.25rem, @pretol, normal);
            font-weight: bold;
            margin-bottom: 10px;
            .xs({
                font-size: 1em;
            });
        }
        .filters-button-group{
            // .perfil-aromatico
            button{
                display: inline-flex;
                text-align: center;
                background-color: @branco;
                .sans(1.25rem, @cinzal, normal);
                letter-spacing: .1rem;
                padding: 10px 15px;
                border: none;
                justify-content: center;
            }
            &.perfil-aromatico{
                button{
                    border: solid 1px @cinzal;
                    &.active{
                        color: @branco;
                        background-color: @pretol;
                        border: solid 1px @pretol;
                    }
                    &:nth-child(2){
                        border-right: 0px;
                    }
                    &:nth-child(3){
                    }
                    &:nth-child(4){
                        border-left: 0px;
                    }
                    &:nth-child(5){
                        border-left: 0px;
                    }
                    .s({
                        width: 100%;
                        text-align: center;
                        &:nth-child(2){
                            border-right: 1px;
                        }
                        &:nth-child(3){
                        }
                        &:nth-child(4){
                            border-left: 1px solid;
                            border-top: 0;
                        }
                        &:nth-child(5){
                            border-left: 1px solid;
                            border-top: 0;
                        }
                    });
                    .s({
                        width: 100%;
                        text-align: center;
                        &:nth-child(2){
                            border-right: 1px;
                        }
                        &:nth-child(3){
                        }
                        &:nth-child(4){
                            border-left: 1px solid;
                            border-top: 0;
                        }
                        &:nth-child(5){
                            border-left: 1px solid;
                            border-top: 0;
                        }
                    });
                    .xs({
                        width: 100%;
                        text-align: center;
                        &:nth-child(2){
                            border-right: 1px;
                        }
                        &:nth-child(3){
                        }
                        &:nth-child(4){
                            border-left: 1px solid;
                            border-top: 0;
                        }
                        &:nth-child(5){
                            border-left: 1px solid;
                            border-top: 0;
                        }
                    });
                }
            }
            &.tamanho{
                button{
                    display: inline-block;
                    &::after{
                        content: '';
                        display: block;
                        margin: 0 auto;
                        padding: 10px 15px;
                        max-height: 40px;
                        background-color: @cinzal;
                        -webkit-mask-position: center;
                        -webkit-mask-size: contain;
                        -webkit-mask-repeat: no-repeat;
                        .xs({
                            padding: 10px 10px;
                        });
                    }
                    &.t-25{
                        border: solid 1px @cinzal;
                        border-right-width: 0;
                        &::after{
                            -webkit-mask-image: url(https://www.girafa.com.br/hs/mundo-nespresso/img/c-25.svg);
                        }
                    }
                    &.t-40{
                        border: solid 1px @cinzal;
                        border-right-width: 0;
                        &::after{
                            -webkit-mask-image: url(https://www.girafa.com.br/hs/mundo-nespresso/img/c-40.svg);
                        }
                        .m({
                            border: solid 1px @cinzal;
                        });
                        .s({
                            border: solid 1px @cinzal;
                        });
                        .xs({
                            border: solid 1px @cinzal;
                        });
                    }
                    &.t-110{
                        border: solid 1px @cinzal;
                        border-right-width: 0;
                        &::after{
                            -webkit-mask-image: url(https://www.girafa.com.br/hs/mundo-nespresso/img/c-110.svg);
                        }
                        .m({
                            border-top-width: 0;
                        });
                        .s({
                            border-top-width: 0;
                        });
                        .xs({
                            border-top-width: 0;
                        });
                    }
                    &.t-150{
                        border: solid 1px @cinzal;
                        &::after{
                            -webkit-mask-image: url(https://www.girafa.com.br/hs/mundo-nespresso/img/c-150.svg);
                        }
                        .m({
                            border-top-width: 0;
                        });
                        .s({
                            border-top-width: 0;
                        });
                        .xs({
                            border-top-width: 0;
                        });
                    }
                    &.active{
                        background-color: @pretol;
                        border-color: @pretol;
                        &::after{
                            background-color: @branco;
                        }
                    }
                    .m({
                        width: 50%;
                    });
                    .s({
                        width: 50%;
                    });
                    .xs({
                        width: 50%;
                    });
                }
            }
        }
    }
    .results{
        margin: 40px 0 0;
        display: block;
        .sans(1rem, @cinzam, normal);
    }
    .cap-slider-container{
        overflow: auto;
        overflow-y: hidden;
        margin: 0px 0 60px;
        width: 100%;
        .xs({
            padding: 0;
        });
    }
    .grid-cap{
        display: flex;
        margin: 0;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        max-height: 300px; 
    }
    .capsula-card{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-flow: column;
        height: 250px;
        width: 300px;
        min-width: 300px;
        position: relative !important;
        left: 0 !important;
        top: 0 !important;
        margin: 15px;
        -webkit-box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.25);
        box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.25);
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        transition: all .1s;
        .fundo{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            object-fit: cover;
            object-position: center;
            z-index: -2;
        }
        .sobreposta-container{
            display: flex;
            height: 350px;
            align-items: center;
            justify-content: center;
            img{
                height: 50%;
                object-fit: contain;
                object-position: center;
            }
        }
        .grid{
            margin: 40px;
        }
        .capsula-info{
            padding: 10px 0;
            min-height: 60px;
            height: 60px;
            width: 100%;
            background-color: @branco;
            .sans(1rem, @pretol, normal);
            display: flex;
            justify-content: center;
            cursor: pointer;
            &:hover .txt{
                h4{
                    letter-spacing: 0em;        
                }
            }
            .xs({
                font-size: 1rem;
            });
            .txt{
                flex-grow: 2;
                max-width: 200px;
                h4{
                    font-size: 1.5rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 0em;
                    margin-bottom: 15px;
                    padding: 10px 0 0;
                    &.breaker{
                        padding: 0;
                    }
                }
                p{
                    display: none;
                    margin: .5em 0;
                    &.active{
                        display: block;
                    }
                    .xs({
                        margin: 0;
                    });
                }
                .tamanhos{
                    display: block;
                    li{
                        display: inline-block;
                        margin-right: 5px;
                        &::after{
                            content: '';
                            display: block;
                            margin: 0 auto;
                            width: 20px;
                            height: 20px;
                            background-color: @pretol;
                            -webkit-mask-position: center;
                            -webkit-mask-size: contain;
                            -webkit-mask-repeat: no-repeat;
                        }
                    }
                    .t-25{
                        &::after{
                            -webkit-mask-image: url(https://www.girafa.com.br/hs/mundo-nespresso/img/c-25.svg);
                        }
                    }
                    .t-40{
                        &::after{
                            -webkit-mask-image: url(https://www.girafa.com.br/hs/mundo-nespresso/img/c-40.svg);
                        }
                    }
                    .t-110{
                        &::after{
                            -webkit-mask-image: url(https://www.girafa.com.br/hs/mundo-nespresso/img/c-110.svg);
                        }
                    }
                    .t-150{
                        &::after{
                            -webkit-mask-image: url(https://www.girafa.com.br/hs/mundo-nespresso/img/c-150.svg);
                        }
                    }
                }
            }
            .btn-info-container{
                position: relative;
                flex-grow: 1;
                padding: 10px 0;
            }
            .btn-info{
                display: inline-flex;
                height: 100%;
                width: 100%;
                max-height: 24px;
                background-color: @pretol;
                transform: rotate(90deg);
                -webkit-mask-image: url(https://www.girafa.com.br/hs/mundo-nespresso/img/arrow.svg);
                -webkit-mask-position: center;
                -webkit-mask-size: contain;
                -webkit-mask-repeat: no-repeat;
                &.active{
                    transform: rotate(-90deg);
                }
            }
            &.active{
                height: 900px;
                min-height: inherit;
                transition: all .3s;
            }
        }
    }
}
.footer{
    display: flex;
    flex-flow: column;
    background-color: @preto;
    color: @branco;
    text-align: center;
    .container{
        .xs({
            padding: 10px;
        });
    }
    img{
        max-width: 100%;
    }
    .footer-title{
        .sans(1.875rem, @dourado, normal);
        margin: 20px 40px;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: .2em;
        .s({font-size: 1.5rem;});
        .xs({font-size: 1.25rem;margin: 20px auto;width: 95%;});
    }
    .footer-item{
        padding: 10px;
        display: inline-flex;
        flex-wrap: wrap;
        flex-flow: column;
        .sans(1em, @dourado, normal);
        img{
            object-fit: contain;
            object-position: center;
            margin: 15px 0;
        }
        span{
            text-transform: uppercase;
            color: @dourado;
            p{
                color: @branco;
                text-transform: initial;
                &::before{
                    content: '';
                    display: block;
                    height: 2px;
                    width: 60px;
                    background-color: @branco;
                    margin: 20px auto;
                }
            }
        }
        .xs({
            padding: 10px 0;
        })
    }
    .clubnespresso{
        margin-top: 100px;
        position: relative;
        overflow: hidden;
        .bg-light{
            display: block;
            position: absolute;
            height: calc(100% * (1/2) - 5vw);
            max-height: 350px;
            width: 100%;
            background-image: url("https://www.girafa.com.br/hs/mundo-nespresso/img/bg-club-light.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            .s({
            width: 150%;
            height: inherit;
            min-height: 420px;
            min-width: 700px;
            });
            .xs({
            width: 150%;
            height: inherit;
            min-height: 450px;
            min-width: 700px;
            });
        }
        .club-text-container{
            display: flex;
            flex-flow: column;
            margin-top: 40px;
            text-align: left;
            .s({
                margin-top: 0;
                text-align: center;
                justify-content: center;
                align-items: center;
                margin-bottom: 40px;
            });
            .xs({
                margin-top: 0;
                text-align: center;
                justify-content: center;
                align-items: center;
                margin-bottom: 40px;
            })
        }
        .club-title{
            .sans(1.5rem, @dourado, normal);
            text-transform: uppercase;
        }
        .club-about{
            .sans(1em, @branco, 1.5em);
            margin-top: 20px;
            max-width: 500px;
            width: 98%;
            a{
                color: @dourado;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .club-bonus{
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: center;
        }
        .club-item{
            padding: 20px;
            flex-grow: 1;
            min-height: 200px;
            width: calc(100% * (1/3) - 20px - 1px);
            margin: 10px;
            border-style: solid;
            position: relative;
            border-image: @gradient;
            -webkit-border-image: @gradient;
            -o-border-image: @gradient;
            border-image-slice: 20%;
            border-width: 2px;
            .sans(1em, @dourado, normal);
            .club-item-bg{
                display: block;
                width: 100%;
                height: 100%;
                min-height: 200px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
            }
            .s({
                width: calc(100% * (1/2) - 20px - 1px);
                margin: 5px 5px 0 0;
                padding: 5px;
            });
            .xs({
                width: calc(100% * (1/2) - 20px - 1px);
                margin: 5px 5px 0 0;
                padding: 5px;
            });
            p.title{
                margin: 10px 0;
                text-transform: uppercase;
                font-weight: bold;
                color: #fff;
            }
            p.desc{
                color: @branco;
                line-height: 1.5em;
            }
        }
    }
    .rodape-pic{
        .xs({
            margin: 40px 0 0;
        });
    }
}