:root{
	--nes-vermelho: #E07676;
	--nes-preto: #000000;
	--nes-branco: #ffffff;
	--nes-prata: #d6d6d6;
	--nes-marrom: #8b8378;
}
// CORES
@marrom: #59381a;

@cinzad: #282828;
@cinzam: #646262;
@cinzal: #a1a1a1;
@dourado: #c2a572;
@gold: #CC9F03;
@gradient: linear-gradient(to right bottom, #dfc598 0%, #cc9a41 50%, #dfc598);
@preto: #010101;
@pretol: #1a171b;
@branco: #fff;
@font-face{font-family:LucasNes;src:url(https://www.girafa.com.br/hs/mundo-nespresso/res/NespressoLucas-Light.woff) format("woff");font-style:normal;font-weight:300}
@font-face{font-family:LucasNes;src:url(https://www.girafa.com.br/hs/mundo-nespresso/res/NespressoLucas-Regular.woff) format("woff");font-style:normal;font-weight:400}
@font-face{font-family:LucasNes;src:url(https://www.girafa.com.br/hs/mundo-nespresso/res/NespressoLucas-Medium.woff) format("woff");font-style:normal;font-weight:500}
@font-face{font-family:LucasNes;src:url(https://www.girafa.com.br/hs/mundo-nespresso/res/NespressoLucas-SemiBd.woff) format("woff");font-style:normal;font-weight:600}
@font-face{font-family:LucasNes;src:url(https://www.girafa.com.br/hs/mundo-nespresso/res/NespressoLucas-Bold.woff) format("woff");font-style:normal;font-weight:700}
@font-face{font-family:LucasNes;src:url(https://www.girafa.com.br/hs/mundo-nespresso/res/NespressoLucas-XtraBd.woff) format("woff");font-style:normal;font-weight:800}
// @font-face {
//     font-family: MuseoSans;
//     src:url("https://fonts.googleapis.com/css?family=Roboto")
// }
.sans(@size: false, @colour: false,  @lh: false) {
	font-family: 'LucasNes', Helvetica, Arial, sans-serif;
	font-size: @size;
	color: @colour;
	line-height: @lh;
	font-weight: normal;
}
.sans-bold(@size: false, @colour: false,  @lh: false) {
	font-family: 'LucasNes', Helvetica, Arial, sans-serif;
	font-size: @size;
	font-weight: @weight;
	color: @colour;
	font-weight: bold;
	line-height: @lh;
}
//GRID
@l-device: 1199px;
@m-b-device: 991px;
@m-device: 767px;
@s-device: 575px;
@mobile: 400px;

@use-mobile: true;
@use-xs-mobile: true;
@use-tablet: true;
@use-medium-dk: true;
@use-dk: true;
@use-lg-dk: true;

// Mixin de media-queries

.lg(@style) when (@use-lg-dk){
	@media screen and (min-width: @l-device)
	{@style();}
}
.mb(@style) when (@use-dk){
	@media screen and (min-width: @m-b-device) and (max-width: @l-device - 1)
	{@style();}
}
.m(@style) when (@use-medium-dk){
	@media screen and (min-width: @m-device) and (max-width: @m-b-device - 1)
	{@style();}
}
.s(@style) when (@use-tablet){
	@media screen and (min-width: @s-device) and (max-width: @m-device - 1)
	{@style();}
}
.xs(@style) when (@use-xs-mobile){
	@media screen and (max-width: @s-device) 
	{@style();}
}
.mobile(@style) when (@use-mobile){
	@media screen and (max-width: @mobile)
	{@style();}
}