//- <!DOCTYPE html>
//- html(lang="pt-br")
//-     head
//-         meta(charset="UTF-8")
//-         meta(http-equiv="cache-control", content="no-cache")
//-         meta(http-equiv="pragma", content="no-cache")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0")
//-         meta(http-equiv="X-UA-Compatible", content="ie=edge")
//-         title Mundo Nespresso
//-         //- link(rel="stylesheet", href="https://www.girafa.com.br/visao/girafa/css/bootstrap.min.css?v=56")
//-         //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.5/tiny-slider.css")
        
//-         //- link(rel="stylesheet", href="styles.css")
//-     body
link(rel="stylesheet", href="https://www.girafa.com.br/hs/mundo-nespresso/styles.css?v=39")
section.topo-nespresso
    div.row
        div.col-5.col-sm-5.col-sm-push-5.content
            div
                img(src="https://www.girafa.com.br/hs/mundo-nespresso/img/logo-nespresso.svg", alt="").logones
                h5 Descubra as Máquinas #[b Nespresso]
                p Quer preparar um café perfeito com facilidade e a simplicidade de uma <strong>Nespresso</strong>?<br> Então, conheça a linha completa e escolha a máquina ideal para você.
        div.col-7.col-sm-7.col-sm-pull-7.sobreposta
            img(src="https://www.girafa.com.br/hs/mundo-nespresso/img/topo-sobreposta.png", alt="").mc-png
    div.nav.top
        a(href="#maquinas").item.maquinas Maquinas
        a(href="#cafes").item.cafes Cafés
        a(href="#servicos").item.servicos Serviços
section.maquinasnespresso
    div.row
        div.container.slider-container
            div.slider                       
                - var listamaquinas = [{"id":"1","nome":"Essenza Mini C30","descricaosimples":"A mais compacta da familia","descricao":"A máquina mais compacta da Nespresso é também silenciosa para preparar Expressos e Lungos.","opcoes":[{"voltagem":"127v","cor":"branca","img1":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-c30/branca/essenza-mini-branca-1.jpg","img2":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-c30/branca/essenza-mini-branca-2.png","img3":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-c30/branca/essenza-mini-branca-3.png","link":"https://www.girafa.com.br/Eletrodomesticos/nespresso/maquina-de-cafe-nespresso-essenza-mini-c30-127v-branca.htm"},{"voltagem":"220v","cor":"branca","img1":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-c30/branca/essenza-mini-branca-1.jpg","img2":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-c30/branca/essenza-mini-branca-2.png","img3":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-c30/branca/essenza-mini-branca-3.png","link":"https://www.girafa.com.br/Eletrodomesticos/nespresso/maquina-de-cafe-nespresso-essenza-mini-c30-220v-branca.htm"},{"voltagem":"127v","cor":"preta","img1":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-c30/preta/essenza-mini-preta-1.jpg","img2":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-c30/preta/essenza-mini-preta-2.png","img3":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-c30/preta/essenza-mini-preta-3.png","link":"https://www.girafa.com.br/Eletrodomesticos/nespresso/maquina-de-cafe-nespresso-essenza-mini-c30-127v-preta.htm"},{"voltagem":"220v","cor":"preta","img1":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-c30/preta/essenza-mini-preta-1.jpg","img2":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-c30/preta/essenza-mini-preta-2.png","img3":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-c30/preta/essenza-mini-preta-3.png","link":"https://www.girafa.com.br/Eletrodomesticos/nespresso/maquina-de-cafe-nespresso-essenza-mini-c30-220v-preta.htm"}],"extra":[{"medidas":"A: 20,4cm - L: 33cm - P: 8,4cm","reservatorioagua":"600ml","bebidas":"Espresso (40 ml), Lungo (110 ml)","compartimento":"6 cápsulas","compacto":"sim","receitaleite":"-","texturadoleite":"-","cortapingos":"-","manutencao":"-","bluetooth":"-"}]},{"id":"2","nome":"Combo Essenza Mini C30","descricaosimples":"A mais compacta da família com solução de leite.","descricao":"A máquina mais compacta da Nespresso é também silenciosa para preparar Expressos e Lungos. Acompanha Aeroccino.","opcoes":[{"voltagem":"127v","cor":"preta","img1":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-c30-aeroccino/preta/essenza-mini-aeroccino-1.jpg","img2":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-c30-aeroccino/preta/essenza-mini-aeroccino-2.jpg","img3":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-c30-aeroccino/preta/essenza-mini-aeroccino-3.jpg","link":"https://www.girafa.com.br/Eletrodomesticos/nespresso/nespresso-combo-essenza-mini-black-aero3-110v.htm"}],"extra":[{"medidas":"A: 20,4cm - L: 33cm - P: 8,4cm","reservatorioagua":"600ml","bebidas":"Espresso (40 ml), Lungo (110 ml)","compartimento":"6 cápsulas","compacto":"sim","receitaleite":"sim","texturadoleite":"-","cortapingos":"-","manutencao":"-","bluetooth":"-"}]},{"id":"3","nome":"Essenza Mini D30","descricaosimples":"A mais compacta da familia","descricao":"A máquina mais compacta da Nespresso é também silenciosa para preparar Expressos e Lungos.","opcoes":[{"voltagem":"127v","cor":"vermelha","img1":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-d30/vermelha/essenza-mini-vermelha-1.jpg","img2":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-d30/vermelha/essenza-mini-vermelha-2.jpg","img3":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-d30/vermelha/essenza-mini-vermelha-3.jpg","link":"https://www.girafa.com.br/Eletrodomesticos/nespresso/maquina-de-cafe-nespresso-essenza-mini-d30-127v-vermelha.htm"},{"voltagem":"220v","cor":"vermelha","img1":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-d30/vermelha/essenza-mini-vermelha-1.jpg","img2":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-d30/vermelha/essenza-mini-vermelha-2.jpg","img3":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-d30/vermelha/essenza-mini-vermelha-3.jpg","link":"https://www.girafa.com.br/Eletrodomesticos/nespresso/maquina-de-cafe-nespresso-essenza-mini-d30-220v-vermelha.htm"}],"extra":[{"medidas":"A: 20,5cm - L: 32,5cm - P: 11,5cm","reservatorioagua":"600ml","bebidas":"Espresso (40 ml), Lungo (110 ml)","compartimento":"6 cápsulas","compacto":"sim","receitaleite":"-","texturadoleite":"-","cortapingos":"-","manutencao":"-","bluetooth":"-"}]},{"id":"4","nome":"Combo Essenza Mini D30","descricaosimples":"A mais compacta da família com solução de leite.","descricao":"A máquina mais compacta da Nespresso é também silenciosa para preparar Expressos e Lungos. Acompanha Aeroccino.","opcoes":[{"voltagem":"127v","cor":"vermelha","img1":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-d30-aeroccino/vermelha/essenza-mini-aeroccino-1.jpg","img2":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-d30-aeroccino/vermelha/essenza-mini-aeroccino-2.jpg","img3":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-d30-aeroccino/vermelha/essenza-mini-aeroccino-3.jpg","link":"https://www.girafa.com.br/Eletrodomesticos/nespresso/maquina-de-cafe-nespresso-essenza-mini-d30-vermelha-com-aeroccino-3-127v.htm"},{"voltagem":"220v","cor":"vermelha","img1":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-d30-aeroccino/vermelha/essenza-mini-aeroccino-1.jpg","img2":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-d30-aeroccino/vermelha/essenza-mini-aeroccino-2.jpg","img3":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/essenza-d30-aeroccino/vermelha/essenza-mini-aeroccino-3.jpg","link":"https://www.girafa.com.br/Eletrodomesticos/nespresso/maquina-de-cafe-nespresso-essenza-mini-d30-vermelha-com-aeroccino-3-220v.htm"}],"extra":[{"medidas":"A: 20,5cm - L: 32,5cm - P: 11,5cm","reservatorioagua":"600ml","bebidas":"Espresso (40 ml), Lungo (110 ml), Cappuccino e Latte Macchiato","compartimento":"6 cápsulas","compacto":"sim","receitaleite":"sim","texturadoleite":"-","cortapingos":"-","manutencao":"-","bluetooth":"-"}]},{"id":"5","nome":"Lattissima One","descricaosimples":"Às vezes, tudo o que você precisa é de um Cappuccino.","descricao":"Uma solução mais compacta e silenciosa que prepara receitas de café e leite com apenas um botão.","opcoes":[{"voltagem":"127v","cor":"marrom","img1":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-one/marrom/lattissima-one-1.jpg","img2":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-one/marrom/lattissima-one-2.jpg","img3":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-one/marrom/lattissima-one-3.jpg","link":"https://www.girafa.com.br/Eletrodomesticos/nespresso/m-quina-caf-nespresso-latissima-one-marrom-110v-f111-bw-ne.htm"},{"voltagem":"220v","cor":"marrom","img1":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-one/marrom/lattissima-one-1.jpg","img2":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-one/marrom/lattissima-one-2.jpg","img3":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-one/marrom/lattissima-one-3.jpg","link":"https://www.girafa.com.br/Eletrodomesticos/nespresso/m-quina-nespresso-latissima-one-marrom-220v-f111-br3-ne.htm"}],"extra":[{"medidas":"A: 25,6cm - L: 15,4cm - P: 32,4cm","reservatorioagua":"1 litro","bebidas":"Espresso (40 ml), Lungo (110 ml), Cappuccino e Latte Macchiato","compartimento":"8 cápsulas","compacto":"-","receitaleite":"sim","texturadoleite":"-","cortapingos":"-","manutencao":"sim","bluetooth":"-"}]},{"id":"6","nome":"Lattissima Touch","descricaosimples":"Uma solução com leite integrado. Ideal para toda a família.","descricao":"Uma máquina que atende toda a família. 3 medidas de café e 3 receitas de leite, com um reservátorio de leite maior.","opcoes":[{"voltagem":"127v","cor":"preta","img1":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-touch/preta/latissima-touch-1.jpg","img2":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-touch/preta/latissima-touch-2.jpg","img3":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-touch/preta/latissima-touch-3.jpg","link":"https://www.girafa.com.br/Eletrodomesticos/nespresso/lattissima-touch-facelift-black-110v.htm"},{"voltagem":"220v","cor":"preta","img1":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-touch/preta/latissima-touch-1.jpg","img2":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-touch/preta/latissima-touch-2.jpg","img3":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-touch/preta/latissima-touch-3.jpg","link":"https://www.girafa.com.br/Eletrodomesticos/nespresso/lattissima-touch-facelift-black-220v-f521-br3-ne.htm"},{"voltagem":"127v","cor":"branca","img1":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-touch/branca/latissima-touch-1.jpg","img2":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-touch/branca/latissima-touch-2.jpg","img3":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-touch/branca/latissima-touch-3.jpg","link":"https://www.girafa.com.br/Eletrodomesticos/nespresso/nova-lattissima-touch-branca-110v-nespresso.htm"},{"voltagem":"220v","cor":"branca","img1":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-touch/branca/latissima-touch-1.jpg","img2":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-touch/branca/latissima-touch-2.jpg","img3":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-touch/branca/latissima-touch-3.jpg","link":"https://www.girafa.com.br/Eletrodomesticos/nespresso/nova-lattissima-touch-branca-220v-nespresso.htm"},{"voltagem":"127v","cor":"prata","img1":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-touch/prata/latissima-touch-1.jpg","img2":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-touch/prata/latissima-touch-2.jpg","img3":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-touch/prata/latissima-touch-3.jpg","link":"https://www.girafa.com.br/Eletrodomesticos/nespresso/nova-lattissima-touch-prata-110v-nespresso.htm"},{"voltagem":"220v","cor":"prata","img1":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-touch/prata/latissima-touch-1.jpg","img2":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-touch/prata/latissima-touch-2.jpg","img3":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/latissima-touch/prata/latissima-touch-3.jpg","link":"https://www.girafa.com.br/Eletrodomesticos/nespresso/nova-lattissima-touch-prata-220v-nespresso.htm"}],"extra":[{"medidas":"A: 32cm - L: 17,3cm - P: 25,8cm","reservatorioagua":"900ml","bebidas":"Ristretto (25ml), Espresso(40ml), Lungo(110ml) , Cappuccino , Latte Macchiato, e espuma de leite","compartimento":"14 cápsulas","compacto":"-","receitaleite":"sim","texturadoleite":"sim","cortapingos":"-","manutencao":"sim","bluetooth":"-"}]},{"id":"7","nome":"Expert C80","descricaosimples":"São quatro receitas, seleção de temperatura e conectividade","descricao":"Robusta e horizontal, prepara 4 medidas de café e conta com a seleção de temperatura da bebida e conectividade.","opcoes":[{"voltagem":"127v","cor":"preta","img1":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/expert/preta/expert-1.jpg","img2":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/expert/preta/expert-2.jpg","img3":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/expert/preta/expert-3.jpg","link":"https://www.girafa.com.br/Eletrodomesticos/nespresso/maquina-de-cafe-nespresso-expert-c80-127v-preta.htm"},{"voltagem":"220v","cor":"preta","img1":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/expert/preta/expert-1.jpg","img2":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/expert/preta/expert-2.jpg","img3":"https://www.girafa.com.br/hs/mundo-nespresso/img/maquinas/expert/preta/expert-3.jpg","link":"https://www.girafa.com.br/Eletrodomesticos/nespresso/maquina-de-cafe-nespresso-expert-c80-220v-preta.htm"}],"extra":[{"medidas":"A: 38,5cm - L: 28,7cm - P: 22,3cm","reservatorioagua":"1,1 litro","bebidas":"Ristretto (25ml), Espresso(40ml), Lungo(110ml), Americano(150ml)","compartimento":"14 cápsulas","compacto":"-","receitaleite":"-","texturadoleite":"-","cortapingos":"sim","manutencao":"sim","bluetooth":"sim"}]}]

                mixin maquinas(maquina)
                    div.slider-item.maquina(id = "maquina" + maquina.id, data-id = maquina.id)
                        //- - for (var i = 0; i < maquina.opcoes.length; i++)
                        div.fotos
                            img#fotoprincipal(src= maquina.opcoes[0].img1, alt="")
                            div.outras
                                span.active
                                    img#other1(src= maquina.opcoes[0].img1, alt="")
                                span
                                    img#other2(src= maquina.opcoes[0].img2, alt="")
                                span
                                    img#other3.another(src= maquina.opcoes[0].img3, alt="")
                            span.morepics.plus
                        //- .container
                        //-     each opcao in maquina.opcoes
                        //-         img(src= opcao.img1, alt="").slidermaquinas
                        p.title= maquina.nome
                        p.desc= maquina.descricaosimples
                        small CORES DISPONÍVEIS
                        ul.cores
                            each opcao in maquina.opcoes
                                li(class="cor " + opcao.cor)
                        a(href= maquina.opcoes[0].link).btn-nes SAIBA MAIS

                for maquina in listamaquinas
                    +maquinas(maquina)
section.questionario
    .container
        h5 A MÁQUINA NESPRESSO IDEAL PARA VOCÊ
        div.dots
            - for(var x = 1; x < 3; x++)
                div(class="dot-" + x).dot
    span.pergunta.p1
        p Você já é fascinado por café, deseja preparar ainda bebidas com leite como cappuccino?
        span.btn-nes.sim SIM
        span.btn-nes.nao NÃO
    span.pergunta.p2.hidden
        p Você prefere uma maquina com solução de leite já acoplada?
        span.btn-nes.sim SIM
        span.btn-nes.nao NÃO
    span.pergunta.p3.hidden
        p Você é uma pessoa prática e tradicional ou é entusiasta em café e quer personalizar ainda mais suas bebidas.
        span.btn-nes.btnlong.sim Sou prático, quero Expressos e Lungos.
        span.btn-nes.btnlong.nao Quero a experiência máxima com Nespresso.
    p.reload-result.hidden
    p.check-result.hidden Confira abaixo o resultado
section.resultado
    h5 A máquina #[b NESPRESSO] ideal para você é
    .container
        mixin maquinas2(maquina)
            div.slider-item.maquina.hidden(id = "maquina" + maquina.id)
                //- - for (var i = 0; i < maquina.opcoes.length; i++)
                div.fotos
                    img#fotoprincipal(src= maquina.opcoes[0].img1, alt="")
                    //- div.outras
                    //-     img#other1(src= maquina.opcoes[0].img1, alt="")
                    //-     img#other2(src= maquina.opcoes[0].img2, alt="")
                    //-     img#other3.another(src= maquina.opcoes[0].img3, alt="")
                //- .container
                //-     each opcao in maquina.opcoes
                //-         img(src= opcao.img1, alt="").slidermaquinas
                a(href= maquina.opcoes[0].link).btn-nes SAIBA MAIS
                p.title= maquina.nome
                p.desc.descfull= maquina.descricao
                //- small CORES DISPONÍVEIS
                //- ul.cores
                //-     each opcao in maquina.opcoes
                //-         li(class="cor " + opcao.cor)
                ul.extras
                    each extra in maquina.extra
                        li(class="comparativo")
                            p Medidas:
                            p #{extra.medidas}
                        li(class="comparativo")
                            p Reservatório de Água:
                            p #{extra.reservatorioagua}
                        li(class="comparativo")
                            p Bebidas Preparadas:
                            p #{extra.bebidas}
                        li(class="comparativo")
                            p Compartimento de Capsulas:
                            p até #{extra.compartimento}
                        li(class="comparativo")
                            p Tamanho Compacto:
                            p #{extra.compacto}
                        li(class="comparativo")
                            p Receitas com Leite:
                            p #{extra.receitaleite}
                        li(class="comparativo")
                            p Seleção de Textura do Leite:
                            p #{extra.texturadoleite}
                        li(class="comparativo")
                            p Tecnologia Corta Pingos:
                            p #{extra.cortapingos}
                        li(class="comparativo")
                            p Alertas de Manutenção:
                            p #{extra.manutencao}
                        li(class="comparativo")
                            p Conectividade via Bluetooth:
                            p #{extra.bluetooth}

        for maquina in listamaquinas
            +maquinas2(maquina)
section.sobre#sobre
    .container
        div.historias
            span.informacoes.historia
                p.title História da Nespresso
                p.desc A Nespresso foi o primeiro sistema de café em cápsulas do mundo, criado em 1976, e a inovação suíça caiu no gosto dos amantes da bebida do mundo todo. A Nespresso hoje atua em mais de 60 países, tendo aberto a primeira loja no Brasil em 2006.
            span.informacoes.praticas
                p.title Práticas Sustentáveis
                p.desc Sustentabilidade para nós começa com o reconhecimento do trabalho dos produtores de nossos cafés, mas não acaba por aí. Compreendemos e respeitamos a responsabilidade que a Nespresso tem na criação de uma economia cafeeira sustentável e incorporamos nossos princípios de sustentabilidade por práticas recomendadas em toda a nossa cadeia de valores, desde a cereja de café até a xícara.
            span.informacoes.reciclagem
                p.title Reciclagem de cápsulas
                p.desc Estamos trabalhando para oferecer o maior número possível de opções convenientes para os nossos consumidores. As cápsulas de Nespresso são 100% recicláveis, e a cada dia estamos aumentando o nosso número de centros de coleta.
    span.bg
section.capsulas
    .container.container-capsulas
        h5 SEU #[strong NESPRESSO] PREFERIDO ESPERA POR VOCÊ
        p.sobre-capsulas São mais de 20 variedades de café para todos os gostos e momentos, dos mais intensos ao mais suaves. Selecione seu perfil aromático preferido, o tamanho da xícara e e descubra o café perfeito para você!
        .filters
            div(class="button-group filters-button-group perfil-aromatico col-sm-6", data-filter-group="perfil")
                p.filter-title PERFIL AROMÁTICO
                button(class="button any hidden", data-filter="")
                button(class="button intensos", data-filter=".intenso") INTENSO
                button(class="button equilibrados", data-filter=".equilibrado") EQUILIBRADO
                button(class="button frutoso", data-filter=".frutado") SUAVE
            div(class="button-group filters-button-group tamanho col-sm-6",0 data-filter-group="tamanho")
                p.filter-title TAMANHO
                button(class="button any hidden", data-filter="")
                button(class="button t-25", data-filter=".t-25ml")
                button(class="button t-40", data-filter=".t-40ml")
                button(class="button t-110", data-filter=".t-110ml")
                button(class="button t-150", data-filter=".t-150ml")
        div.row
            p.results Exibindo resultados para: #[b#result]
            div.container.slider-container.cap-slider-container.scroll
                div.grid-cap.slider.grid
                    - var listacapsulas = [{"sobreposta":"kazaar.png","fundo":"kazaar-fundo.jpg?v=2","nome":"KAZAAR","intensidade":"5","perfil":"intenso","tamanho":["25","40"],"descricao":"Excepcionalmente intenso e licoroso"},{"sobreposta":"darkhan.png","fundo":"darkhan-fundo.jpg?v=2","nome":"DARKHAN","intensidade":"11","perfil":"intenso","tamanho":["25","40"],"descricao":"Prolongado e aveludado"},{"sobreposta":"ristretto.png","fundo":"ristretto-decaffeinato-fundo.png?v=2","nome":"RISTRETTO","intensidade":"10","perfil":"intenso","tamanho":["25","40"],"descricao":"Poderoso e Contrastante"},{"sobreposta":"arpeggio.png","fundo":"arpeggio-fundo.png?v=2","nome":"ARPEGGIO","intensidade":"9","perfil":"intenso","tamanho":["25","40"],"descricao":"Intenso e cremoso"},{"sobreposta":"roma.png","fundo":"roma-fundo.png?v=2","nome":"ROMA","intensidade":"8","perfil":"intenso","tamanho":["25","40"],"descricao":"Encorpado e balanceado"},{"sobreposta":"livanto.png","fundo":"livanto-fundo.png?v=2","nome":"LIVANTO","intensidade":"6","perfil":"equilibrado","tamanho":["40"],"descricao":"Harmonioso e balanceado"},{"sobreposta":"capriccio.png","fundo":"capriccio-fundo.png?v=2","nome":"CAPRICCIO","intensidade":"5","perfil":"equilibrado","tamanho":["40"],"descricao":"Complexo e diferenciado"},{"sobreposta":"volluto.png","fundo":"volluto-fundo.png?v=2","nome":"VOLLUTO","intensidade":"4","perfil":"equilibrado","tamanho":["40"],"descricao":"Adocicado e leve"},{"sobreposta":"cosi.png","fundo":"cosi-fundo.png?v=2","nome":"COSI","intensidade":"6","perfil":"frutado","tamanho":["40"],"descricao":"Harmonioso e balanceado"},{"sobreposta":"envivo-lungo.png","fundo":"envivo-lungo-fundo.png?v=2","nome":"ENVIVO LUNGO","intensidade":"9","perfil":"intenso","tamanho":["110"],"descricao":"Potente e caramelizado"},{"sobreposta":"fortissio-lungo.png","fundo":"fortissio-lungo-fundo.png?v=2","nome":"FORTISSIO LUNGO","intensidade":"8","perfil":"intenso","tamanho":["110"],"descricao":"Estruturado e intenso"},{"sobreposta":"linizio-lungo.png","fundo":"linizio-lungo-fundo.png?v=2","nome":"LINIZIO LUNGO","intensidade":"4","perfil":"equilibrado","tamanho":["110"],"descricao":"Suave e equilibrado"},{"sobreposta":"vivalto-lungo.png","fundo":"vivalto-lungo-fundo.png?v=2","nome":"VIVALTO LUNGO","intensidade":"4","perfil":"frutado","tamanho":["110"],"descricao":"Complexo e balanceado"},{"sobreposta":"ristretto.png","fundo":"ristretto-fundo.jpg?v=2","nome":"RISTRETTO DECAFFEINATO","intensidade":"10","perfil":"intenso","tamanho":["25","40"],"descricao":"Poderoso e contrastante"},{"sobreposta":"arpeggio.png","fundo":"arpeggio-fundo.png?v=2","nome":"ARPEGGIO DECAFFEINATO","intensidade":"9","perfil":"intenso","tamanho":["25","40"],"descricao":"Intenso e cremoso"},{"sobreposta":"vivalto-lungo.png","fundo":"vivalto-lungo-fundo.png?v=2","nome":"VIVALTO LUNGO DECAFFEINATO","intensidade":"4","perfil":"frutado","tamanho":["110"],"descricao":"Complexo e balanceado"},{"sobreposta":"volluto.png","fundo":"volluto-fundo.png?v=2","nome":"VOLLUTO DECAFFEINATO","intensidade":"4","perfil":"equilibrado","tamanho":["40"],"descricao":"Adocicado e leve"},{"sobreposta":"ciocattino.png","fundo":"ciocattino-fundo.png?v=2","nome":"CIOCATTINO","intensidade":"6","perfil":"frutado","tamanho":["40"],"descricao":"Aroma de chocolate"},{"sobreposta":"vanilio.png","fundo":"vanilio-fundo.png?v=2","nome":"VANILIO","intensidade":"6","perfil":"frutado","tamanho":["40"],"descricao":"Aroma de baunilha"},{"sobreposta":"caramelito.png","fundo":"caramelito-fundo.png?v=2","nome":"CARAMELITO","intensidade":"6","perfil":"frutado","tamanho":["40"],"descricao":"Aroma de caramelo"}]
                    - var capsulatamanhos = ""
                    mixin capsulas(capsula)
                        each tamanho in capsula.tamanho
                            - capsulatamanhos = capsulatamanhos + " t-" + tamanho + "ml"
                        div(class="capsula-card " + capsula.perfil + " " + capsulatamanhos + "")
                            - capsulatamanhos = "";
                            span.sobreposta-container
                                img(src="https://www.girafa.com.br/hs/mundo-nespresso/img/capsulas/" + capsula.sobreposta, alt="", class="sobreposta")
                            img(src="https://www.girafa.com.br/hs/mundo-nespresso/img/capsulas/" + capsula.fundo, alt="", class="fundo")
                            span(onclick="opencapsulas(this)").capsula-info
                                span.btn-info-container
                                span.txt
                                    if (capsula.nome).length >= 20
                                        h4(class="breaker")=capsula.nome
                                    else
                                        h4=capsula.nome
                                    //- p Perfil #{capsula.perfil}
                                    p Intensidade #{capsula.intensidade}
                                    p=capsula.descricao
                                    ul.tamanhos
                                        each tamanho in capsula.tamanho
                                            li(class="tamanho t-" + tamanho) #{tamanho}ml
                                span.btn-info-container
                                    span(class="btn-info")
                    for capsula in listacapsulas
                        +capsulas(capsula)
section.footer
    .container
        .row
            img(src="https://www.girafa.com.br/hs/mundo-nespresso/img/bg-rodape-1.png", alt="")
            h4.footer-title Compre suas cápsulas de maneira fácil e rápida através dos canais abaixo.
            .col-sm-3.col-xs-6.footer-item.sitenespresso
                img(src="https://www.girafa.com.br/hs/mundo-nespresso/img/footer-@.png", alt="")
                span #[b SITE NESPRESSO]
                    p No nosso site, você pode pedir cápsulas e acessórios com toda praticidade.
            .col-sm-3.col-xs-6.footer-item.telefone
                img(src="https://www.girafa.com.br/hs/mundo-nespresso/img/footer-telefone.png", alt="")
                span #[b TELEFONE DE ATENDIMENTO]
                    p Ligação gratuita 24h por dia, 7 dias por semana.
            .col-sm-3.col-xs-6.footer-item.boutique
                img(src="https://www.girafa.com.br/hs/mundo-nespresso/img/footer-boutique.png", alt="")
                span #[b BOUTIQUES NESPRESSO]
                    p Visite o site da Nespresso e saiba qual é a mais perto de você.
            .col-sm-3.col-xs-6.footer-item.aplicativo
                img(src="https://www.girafa.com.br/hs/mundo-nespresso/img/footer-mobile.png", alt="")
                span #[b APLICATIVO MOBILE]
                    p Fala suas compras a qualquer hora pelo aplicativo disponível para IPhone, IPad e Android.
    .clubnespresso
        .bg-light
        .container
            .row
                .col-sm-4
                    img(src="https://www.girafa.com.br/hs/mundo-nespresso/img/card.png", alt="")
                .col-sm-8.club-text-container
                    h4.club-title Torne-se Membro do Nespresso Club e desfrute de serviços exclusivos.
                    p.club-about #[a(href="https://www.nespresso.com/br/pt/registration", target="blank") Registre-se] no site da Nespresso, compre seus cafés de maneira fácil e prática e aproveite todos os benefícios do Club.
            .row.club-bonus#clubbonus
                .club-item.item-seguranca
                    span.club-item-bg
                    img(src="https://www.girafa.com.br/hs/mundo-nespresso/img/club-seg.png", alt="")
                    p.title Segurança
                    p.desc Assegure a garantia de um ano de sua máquina.
                .club-item.item-conveniencia
                    span.club-item-bg
                    img(src="https://www.girafa.com.br/hs/mundo-nespresso/img/club-conv.png", alt="")
                    p.title Conveniência
                    p.desc Peça suas cápsulas pelo site, aplicativo ou telefone Nespresso e receba onde quiser.
                .club-item.item-suporte
                    span.club-item-bg
                    img(src="https://www.girafa.com.br/hs/mundo-nespresso/img/club-sup.png", alt="")
                    p.title Suporte
                    p.desc Tire dúvidas sobre máquinas e cafés Nespresso com especialistas disponíveis 24 horas por dia.
                .club-item.item-novidades
                    span.club-item-bg
                    img(src="https://www.girafa.com.br/hs/mundo-nespresso/img/club-news.png", alt="")
                    p.title Novidades
                    p.desc Receba informações sobre lançamentos de cafés, acessórios e ofertas exclusivas.
                .club-item.item-exclusividade
                    span.club-item-bg
                    img(src="https://www.girafa.com.br/hs/mundo-nespresso/img/club-exclusive.png", alt="")
                    p.title Exclusividade
                    p.desc Faça cursos gratuitos sobre café, receitas e harmonizações no Nespresso Expertise Center em São Paulo.
                .club-item.item-sustentabilidade
                    span.club-item-bg
                    img(src="https://www.girafa.com.br/hs/mundo-nespresso/img/club-sust.png", alt="")
                    p.title Sustentabilidade
                    p.desc Recicle suas cápsulas usadas. Só a Nespresso utiliza alumínio, material infinitamente reciclável.
    img(src="https://www.girafa.com.br/hs/mundo-nespresso/img/bg-rodape-2.png", alt="").rodape-pic
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.5/min/tiny-slider.js")
//- script(src="https://unpkg.com/isotope-layout@2/dist/isotope.pkgd.min.js")
script(src="https://www.girafa.com.br/hs/mundo-nespresso/main.js?v=17")
//- script(src="main.js")